/* put stuff here */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);

.hidden { 
	display: none;
}

.app-page, .app-content {
	background: none!important;
}

body {
	background-image: url('../img/starBackground.png')!important;
	background-repeat: repeat!important;
}

canvas {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.title {
	color: #FFF;
	font-weight: 400;
	text-shadow:3px 3px 1px #111;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	text-transform: uppercase;
}

.space {
	display: block;
	width: 80%;
	min-height: 75px;
	margin: auto;
	margin: 5% auto 5% auto;
	background: #40204F;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;


	font-weight: 200;
	border: 0;
	
	border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	
	transition: none;
		-webkit-transition: none;
		-moz-transition: none;

}
.space:active:hover:focus {
	background: #30103F;
}

#highscores {
	list-style: none;
	border: 3px solid #40204F!important;
	background: #60406F;
	border-radius: 20px!important;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	color: #FFF!important;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 200;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}

#highscores li {
	display: block;
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #FFF!important;
	border-top: 3px solid #40204F!important;
}

#highscores li:first-child  {
	border-top: none!important;
}

.left {
	text-align: left;
	float: left;
	margin-left: 10px;
}
.right {
	text-align: right;
	margin-right: 10px;
}

.loading {
	width: 31px;
	height: 38px;
	margin: auto;
	margin-top: 10%!important;
	opacity: 0.7;
}
#floatingBarsG {
	position: relative;
	width: 31px;
	height: 38px;
}

.blockG {
	position:absolute;
	background-color:#FFF;
	width:4px;
	height:12px;
	-moz-border-radius:8px 8px 0 0;
	-moz-transform:scale(0.4);
	-moz-animation-name:fadeG;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:8px 8px 0 0;
	-webkit-transform:scale(0.4);
	-webkit-animation-name:fadeG;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:8px 8px 0 0;
	-ms-transform:scale(0.4);
	-ms-animation-name:fadeG;
	-ms-animation-duration:1s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:8px 8px 0 0;
	-o-transform:scale(0.4);
	-o-animation-name:fadeG;
	-o-animation-duration:1s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:8px 8px 0 0;
	transform:scale(0.4);
	animation-name:fadeG;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#rotateG_01{
	left:0;
	top:14px;
	-moz-animation-delay:0.39s;
	-moz-transform:rotate(-90deg);
	-webkit-animation-delay:0.39s;
	-webkit-transform:rotate(-90deg);
	-ms-animation-delay:0.39s;
	-ms-transform:rotate(-90deg);
	-o-animation-delay:0.39s;
	-o-transform:rotate(-90deg);
	animation-delay:0.39s;
	transform:rotate(-90deg);
}

#rotateG_02{
	left:4px;
	top:5px;
	-moz-animation-delay:0.52s;
	-moz-transform:rotate(-45deg);
	-webkit-animation-delay:0.52s;
	-webkit-transform:rotate(-45deg);
	-ms-animation-delay:0.52s;
	-ms-transform:rotate(-45deg);
	-o-animation-delay:0.52s;
	-o-transform:rotate(-45deg);
	animation-delay:0.52s;
	transform:rotate(-45deg);
}

#rotateG_03{
	left:13px;
	top:2px;
	-moz-animation-delay:0.65s;
	-moz-transform:rotate(0deg);
	-webkit-animation-delay:0.65s;
	-webkit-transform:rotate(0deg);
	-ms-animation-delay:0.65s;
	-ms-transform:rotate(0deg);
	-o-animation-delay:0.65s;
	-o-transform:rotate(0deg);
	animation-delay:0.65s;
	transform:rotate(0deg);
}

#rotateG_04{
	right:4px;
	top:5px;
	-moz-animation-delay:0.78s;
	-moz-transform:rotate(45deg);
	-webkit-animation-delay:0.78s;
	-webkit-transform:rotate(45deg);
	-ms-animation-delay:0.78s;
	-ms-transform:rotate(45deg);
	-o-animation-delay:0.78s;
	-o-transform:rotate(45deg);
	animation-delay:0.78s;
	transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:14px;
	-moz-animation-delay:0.9;
	-moz-transform:rotate(90deg);
	-webkit-animation-delay:0.9;
	-webkit-transform:rotate(90deg);
	-ms-animation-delay:0.9;
	-ms-transform:rotate(90deg);
	-o-animation-delay:0.9;
	-o-transform:rotate(90deg);
	animation-delay:0.9;
	transform:rotate(90deg);
}

#rotateG_06{
	right:4px;
	bottom:3px;
	-moz-animation-delay:1s;
	-moz-transform:rotate(135deg);
	-webkit-animation-delay:1s;
	-webkit-transform:rotate(135deg);
	-ms-animation-delay:1s;
	-ms-transform:rotate(135deg);
	-o-animation-delay:1s;
	-o-transform:rotate(135deg);
	animation-delay:1s;
	transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:13px;
	-moz-animation-delay:1.1700000000000002s;
	-moz-transform:rotate(180deg);
	-webkit-animation-delay:1.1700000000000002s;
	-webkit-transform:rotate(180deg);
	-ms-animation-delay:1.1700000000000002s;
	-ms-transform:rotate(180deg);
	-o-animation-delay:1.1700000000000002s;
	-o-transform:rotate(180deg);
	animation-delay:1.1700000000000002s;
	transform:rotate(180deg);
}

#rotateG_08{
	left:4px;
	bottom:3px;
	-moz-animation-delay:1.3s;
	-moz-transform:rotate(-135deg);
	-webkit-animation-delay:1.3s;
	-webkit-transform:rotate(-135deg);
	-ms-animation-delay:1.3s;
	-ms-transform:rotate(-135deg);
	-o-animation-delay:1.3s;
	-o-transform:rotate(-135deg);
	animation-delay:1.3s;
	transform:rotate(-135deg);
}

	@-moz-keyframes fadeG{
		0% {
			background-color:#999
		}

		100% {
			background-color:#FFF
		}
	}

	@-webkit-keyframes fadeG{
		0% {
			background-color:#999
		}
		100% {
			background-color:#FFF
		}
	}

	@-ms-keyframes fadeG{
		0% {
			background-color:#999
		}
		100% {
			background-color:#FFF
		}
	}

	@-o-keyframes fadeG{
		0% {
			background-color:#999
		}

		100% {
			background-color:#FFF
		}
	}

	@keyframes fadeG{
		0% {
			background-color:#999
		}

		100% {
			background-color:#FFF
		}
	}