/* put stuff here */
.hidden { 
	display: none;
}

.app-page, .app-content {
	background-image: url('../img/starBackground.png')!important;
	background-repeat: repeat!important;
}

.space {
	display: block;
	width: 90%;
	min-height: 75px;
	margin: auto;
	border-radius: 0;
	border: 0;
	margin: 5% auto 5% auto;
	background: #40204F;
	color: #FFF;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
}
.space:active {
	background: #30103F;
}

.app-topbar {
	background: #40204F!important;
	min-height: 80px;
	padding: auto;
	line-height: 80px!important;
	text-align: center;
	font-size: 30px!important;
	font-family: monospace;
	font-weight: bold;
	border: 0;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	text-align: center;
}

#highscores {
	list-style: none;
	border: 3px solid #40204F!important;
	background: #60406F;
	border-radius: 20px!important;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	color: #FFF!important;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
}

#highscores li {
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #FFF!important;
	border-top: 3px solid #40204F!important;
}

#highscores li:first-child  {
	border-top: none!important;
}

.loading {
	width: 31px;
	height: 38px;
	margin: auto;
	margin-top: 75%!important;
	opacity: 0.7;
}
#floatingBarsG {
	position: relative;
	width: 31px;
	height: 38px;
}

.blockG {
	position:absolute;
	background-color:#DDD;
	width:4px;
	height:12px;
	-moz-border-radius:8px 8px 0 0;
	-moz-transform:scale(0.4);
	-moz-animation-name:fadeG;
	-moz-animation-duration:1.04s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:8px 8px 0 0;
	-webkit-transform:scale(0.4);
	-webkit-animation-name:fadeG;
	-webkit-animation-duration:1.04s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:8px 8px 0 0;
	-ms-transform:scale(0.4);
	-ms-animation-name:fadeG;
	-ms-animation-duration:1.04s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:8px 8px 0 0;
	-o-transform:scale(0.4);
	-o-animation-name:fadeG;
	-o-animation-duration:1.04s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:8px 8px 0 0;
	transform:scale(0.4);
	animation-name:fadeG;
	animation-duration:1.04s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#rotateG_01{
	left:0;
	top:14px;
	-moz-animation-delay:0.39s;
	-moz-transform:rotate(-90deg);
	-webkit-animation-delay:0.39s;
	-webkit-transform:rotate(-90deg);
	-ms-animation-delay:0.39s;
	-ms-transform:rotate(-90deg);
	-o-animation-delay:0.39s;
	-o-transform:rotate(-90deg);
	animation-delay:0.39s;
	transform:rotate(-90deg);
}

#rotateG_02{
	left:4px;
	top:5px;
	-moz-animation-delay:0.52s;
	-moz-transform:rotate(-45deg);
	-webkit-animation-delay:0.52s;
	-webkit-transform:rotate(-45deg);
	-ms-animation-delay:0.52s;
	-ms-transform:rotate(-45deg);
	-o-animation-delay:0.52s;
	-o-transform:rotate(-45deg);
	animation-delay:0.52s;
	transform:rotate(-45deg);
}

#rotateG_03{
	left:13px;
	top:2px;
	-moz-animation-delay:0.65s;
	-moz-transform:rotate(0deg);
	-webkit-animation-delay:0.65s;
	-webkit-transform:rotate(0deg);
	-ms-animation-delay:0.65s;
	-ms-transform:rotate(0deg);
	-o-animation-delay:0.65s;
	-o-transform:rotate(0deg);
	animation-delay:0.65s;
	transform:rotate(0deg);
}

#rotateG_04{
	right:4px;
	top:5px;
	-moz-animation-delay:0.78s;
	-moz-transform:rotate(45deg);
	-webkit-animation-delay:0.78s;
	-webkit-transform:rotate(45deg);
	-ms-animation-delay:0.78s;
	-ms-transform:rotate(45deg);
	-o-animation-delay:0.78s;
	-o-transform:rotate(45deg);
	animation-delay:0.78s;
	transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:14px;
	-moz-animation-delay:0.9099999999999999s;
	-moz-transform:rotate(90deg);
	-webkit-animation-delay:0.9099999999999999s;
	-webkit-transform:rotate(90deg);
	-ms-animation-delay:0.9099999999999999s;
	-ms-transform:rotate(90deg);
	-o-animation-delay:0.9099999999999999s;
	-o-transform:rotate(90deg);
	animation-delay:0.9099999999999999s;
	transform:rotate(90deg);
}

#rotateG_06{
	right:4px;
	bottom:3px;
	-moz-animation-delay:1.04s;
	-moz-transform:rotate(135deg);
	-webkit-animation-delay:1.04s;
	-webkit-transform:rotate(135deg);
	-ms-animation-delay:1.04s;
	-ms-transform:rotate(135deg);
	-o-animation-delay:1.04s;
	-o-transform:rotate(135deg);
	animation-delay:1.04s;
	transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:13px;
	-moz-animation-delay:1.1700000000000002s;
	-moz-transform:rotate(180deg);
	-webkit-animation-delay:1.1700000000000002s;
	-webkit-transform:rotate(180deg);
	-ms-animation-delay:1.1700000000000002s;
	-ms-transform:rotate(180deg);
	-o-animation-delay:1.1700000000000002s;
	-o-transform:rotate(180deg);
	animation-delay:1.1700000000000002s;
	transform:rotate(180deg);
}

#rotateG_08{
	left:4px;
	bottom:3px;
	-moz-animation-delay:1.3s;
	-moz-transform:rotate(-135deg);
	-webkit-animation-delay:1.3s;
	-webkit-transform:rotate(-135deg);
	-ms-animation-delay:1.3s;
	-ms-transform:rotate(-135deg);
	-o-animation-delay:1.3s;
	-o-transform:rotate(-135deg);
	animation-delay:1.3s;
	transform:rotate(-135deg);
}

	@-moz-keyframes fadeG{
		0% {
			background-color:#000000
		}

		100% {
			background-color:#DDD
		}
	}

	@-webkit-keyframes fadeG{
		0% {
			background-color:#000000
		}
		100% {
			background-color:#DDD
		}
	}

	@-ms-keyframes fadeG{
		0% {
			background-color:#000000
		}
		100% {
			background-color:#DDD
		}
	}

	@-o-keyframes fadeG{
		0% {
			background-color:#000000
		}

		100% {
			background-color:#DDD
		}
	}

	@keyframes fadeG{
		0% {
			background-color:#000000
		}

		100% {
			background-color:#DDD
		}
	}